<%- include("partials/header") %>

    <!-- <div id="gifSpace">    -->
        <img src="<%= gifLink %>" width="480">
    <!-- </div> -->

    <h2 class="playlist">YOUR PLAYLIST</h2>

    <div id="songsList">
        <% allSongs.forEach(function(song){ %>
            <p><%= song %></p>
        <% }) %>
    </div>

</div>

<%- include("partials/footer") %>