<%- include("partials/header") %>
<!-- 
    <div id="gifSpace">
        <iframe src="https://giphy.com/embed/Y3kK1IGPHIt8fuUGCq" width="480" height="267" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div> -->

    <h2 class="playlist">YOUR PLAYLIST</h2>

    <div id="songsList">
        <% allSongs.forEach(function(song){ %>
            <p><%= song %></p>
        <% }) %>
    </div>

</div>

<%- include("partials/footer") %>